html{
	width: 1301px;
	height: 1301px;
	overflow-x: hidden;
}

div.rectangle-up{
	position: absolute;
	width: 1301px;
	height: 100px;
	left: 0px;
	top: 0px;
	right: 0px;
	background: #343535;
}

div#search_form{
	position: absolute;
	top : 30px;
	left : 400px;
}

.form-inline .form-control{
	
	width : 400px;

}

button.btn.btn-outline-info{
	position: absolute;
	left: 400px;
	top: 0px;
}
img#Alogo {
	position: absolute;
	width: 80px;
	height: 100px;
	left: 1113px;
	top: 0px;
	border-radius: 14px;
}
img#Slogo {
	position: absolute;
	height: 120px;
	top: 15px;
	left: 1185px;
}
img#cap {
	position: absolute;
	width: 79px;
	height: 60px;
	left: 1200px;
	top: 0px;
	border-radius: 378.5px;
	color: 010101;
}
img#index {
	position: absolute;
	width: 77px;
	height: 50px;
	left: 1163px;
	top: 50px;
	border-radius: 34px;
	background-color: #EADFDF;

}

img#scholar {
	position: absolute;
	width: 60px;
	height: 90px;
	left: 1243px;
	top: 40px;
	border-radius: 83.709px;
	transform: rotate(0.64deg);
}

span.glyphicon.glyphicon-align-justify{
	position: absolute;
	top: 110px;
	left: 555px;

}

.menu{
	top: 100px;
	left: 555px;
}
img#pro_cur{
	position: absolute;
	width: 1301px;
	height: 100px;
	left: 0px;
	top: 100px;

	background: #FFFFFF;
}
#cap_up_scholar{
	position: absolute;
	top: 280px;
	height: 60px;
	left: 500px;
	rotate: 180%;
}
img#profile{
	position: absolute;
	top: 160px;
	height: 120px;
	width: 110.133px;
	border-radius: 100.5px;
	left: 92px;
}

.name{
	position: absolute;
	font-family: Roboto !important;
	font-style: normal;
	font-weight: normal;
	font-size: 2.34375rem;
	top: 285px;
	color: #2EAADF;
	left: 70px;

}

div.info_rect{
	position: absolute;
	left: 0px;
	top: 340px;
	width: 700px;
	height: 200px;
	border: 3px #010101;
	background: #DDF1FA;
	border-radius: 121px;
	font-family: Roboto !important;

}
div.Table{
	position: absolute;
	top: 600px;
	width: 1300px;
}
.info_rect_text{
	color: #2EAADF;
}
#country{
	position: absolute;
	left: 260px;
	top: 234px;
	font-size: 22px;
	color: #010101;
	font-family: Rhodium Libre !important;

}
#company{
	position: absolute;
	left: 230px;
	top: 200px;	
	font-size: 22px;
	color: #010101;
	font-family: Rhodium Libre !important;

}
#website{
	position: absolute;
	left: 320px;
	top: 80px;
	font-size: 22px;
	font-family: Rhodium Libre !important;

}
#publications{
	position: absolute;
	left: 40px;
	top: 25px;
	font-size: 25px;
	color: #010101;
}
#tcitations{
	position: absolute;
	left: 515px;
	top: 25px;
	font-size: 25px;
	color: #010101;
}
#gindex{
	position: absolute;
	left: 70px;
	top: 135px;
	font-size: 25px;
	outline: 0;
}
#hindex{
	position: absolute;
	left: 320px;
	top: 160px;
	font-size: 25px;
	outline: 0;
}
#mindex{
	position: absolute;
	left: 515px;
	top: 135px;
	font-size: 25px;
	outline: 0;
}
#TNCc{
	position: absolute;
	left: 305px;
	top: 5px;
	outline: 0;
	font-size: 25px;

}
.chart{
	position: absolute;
	left: 710px;
	top: 213px;
}
.menu{
	position: absolute;
	left: 0px;
	color: #2EAADF;
	top: 30px;
}
